#flex{
    border: 1px solid black;
    width: 150px;
    height: 150px;
    background-color: rgb(223, 92, 44);
}
.direction{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
    border:2px solid black ;
    height: 60vh;

}