*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:italic;
}

body{
    background:#fff;
}


.navbar{
    height:70px;
    display:flex;
    align-items:center;
    border-bottom:1px solid #e6e6e6;
}

.nav-left{
    width:300px;
    display:flex;
    align-items:center;
    gap:20px;
    padding-left:30px;
}

.nav-left h1{
    font-size:52px;
    font-family:Georgia, serif;
    font-weight:600;
}

.nav-left i{
    font-size:24px;
    color:#666;
}

.search-box{
    width:300px;
    height:45px;
    background:#f2f2f2;
    border-radius:30px;
    display:flex;
    align-items:center;
    padding:0 18px;
    gap:12px;
}

.search-box input{
    border:none;
    background:none;
    outline:none;
    width:100%;
    font-size:16px;
}

.premium-banner{
    flex:1;
    text-align:right;
    padding-right:30px;
    font-size:15px;
}

.premium-banner a{
    color:black;
    font-weight:bold;
    position: relative;
}


.wrapper{
    display:flex;
}


.sidebar{
    width:305px;
    min-height:100vh;
    border-right:1px solid #e6e6e6;
    padding:25px 30px;
}

.sidebar ul{
    list-style:none;
}

.sidebar li{
    padding:18px 0;
    font-size:20px;
    color:#444;
}

.sidebar li i{
    width:40px;
}

.sidebar hr{
    margin:30px 0;
    border:none;
    border-top:1px solid #ddd;
}

.following{
    display:flex;
    align-items:center;
    gap:12px;
    font-size:20px;
    margin-bottom:35px;
}

.suggestion{
    display:flex;
    gap:18px;
}

.suggestion i{
    font-size:24px;
}

.suggestion p{
    color:#666;
    margin-bottom:12px;
    line-height:1.4;
}

.suggestion a{
    color:#666;
}


.content{
    flex:1;
    padding:30px 120px;
}

.tabs{
    display:flex;
    gap:40px;
    border-bottom:1px solid #e6e6e6;
    margin-bottom:30px;
}

.tabs span{
    padding-bottom:18px;
    color:#777;
    cursor:pointer;
}

.tabs .active{
    color:black;
    border-bottom:2px solid black;
}


.post{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:35px 0;
    border-bottom:1px solid #ededed;
}

.post-content{
    width:70%;
}

.author{
    display:flex;
    align-items:center;
    gap:10px;
    color:#666;
    margin-bottom:15px;
}

.author img{
    width:28px;
    height:28px;
    border-radius:50%;
}

.post h2{
    font-size:30px;
    font-weight:700;
    color:#242424;
    margin-bottom:10px;
}

.post p{
    font-size:18px;
    color:#6b6b6b;
    margin-bottom:20px;
}

.post-footer{
    display:flex;
    gap:25px;
    color:#757575;
}

.thumb{
    width:220px;
    height:140px;
    object-fit:cover;
}
.footer-item {
  position:fixed;
  bottom:0;
  width:100%;
  border-top:2px solid rgb(189, 188, 188);
  background: #fff9f9;
  display: flex;
  /* flex-direction:row; */
  align-items: center;
  justify-content: space-evenly;
  height: 7vh;

}

.footer-item .hotday {
  gap: 30px;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
}

.footer-item .search-icon {
  gap: 30px;
  margin-left: auto;
  align-items: center;
  justify-content: center;
  display: flex;
}

.footer-item .wtime {
   gap: 15px;
  margin-left: auto;
  align-items: center;
  justify-content: center;
  display: flex;
}

 .footer-item .search-box {
  border:2px solid rgb(189, 188, 188);
  border-radius: 25px;
  position: relative;
  width: 350px;
}

.footer-item .search-box input {
  width: 100%;
  padding: 12px 15px 12px 45px;
  border: none;
  background: white;
  border-radius: 25px;
  font-size: 16px;
  outline: none;
  box-sizing: border-box;
}
.footer-item .search-box i {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #101010;
}
.footer-item i{
  font-size:20px;
}
.footer-item .search-icon i{
  font-size:30px;
}

.footer-item img{
  width:55px;
  height:40px;
  position: absolute;
  left: 15px;
  top: 50%;
  margin-left:75%;
  transform: translateY(-50%);

}