img{
    align-content: center;
    width: 400px ;
    height: 250px;
    margin-left: 550px; 
}
p{
 text-align: center;
 color: rgb(222, 113, 132);
}
h1{
    text-align: center;
}
#p{
    color: rgb(41, 88, 189);
    text-align: justify;
    padding-left: 550px;
    padding-right: 550px;
}
.footer{
    display: flex;
    justify-content: space-around;
    background:#ff4081;
    color: white;
    padding:15px 0;
    margin-left: 550px;
    margin-right: 550px;
    border: 10px;
    border-color: black;
}
.footer h3{
    margin-bottom: 5px;
}
.footer p{
    font-size: 12px;
}
#num{
    border:10px;
}
